<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Initial_00Availability</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-datetime style="color: black" id="datetime" presentation="time" displayFormat="h:mm" locale="en-US"></ion-datetime> -->

<ion-content>
  <div style="padding-top:5%">
    <ion-text style="font-size:36px; text-align: center; color: #ffffff">
      <p>
        {{ title }}
      </p>
    </ion-text>
  </div>

  <div>
    <ion-text style="font-size:20px; color: #ffffff">
      <p style="padding-left:5%; padding-right:5%">
        {{ message }}
      </p>
    </ion-text>
  </div>


  <ion-text class="inner-text">Monday</ion-text>
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

  <br>
  <ion-text class="inner-text">Tuesday</ion-text>
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

  <br>
  <ion-text class="inner-text">Wednesday</ion-text>
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

  <br>
  <ion-text class="inner-text">Thursday</ion-text>
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

  <br>
  <ion-text class="inner-text">Friday</ion-text>
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

  <br>
  <ion-text class="inner-text">Saturday</ion-text>
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

  <br>
  <ion-text class="inner-text">Sunday</ion-text>
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

</ion-content>

<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/pages/Sign_Up/sign-up">Back</ion-button>
      </ion-col>
      
      <ion-col> </ion-col>
      
      <ion-col>
        <ion-button expand="block" routerLink="/pages/Connect/connect">Next</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>