<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Initial_00Availability</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-datetime style="color: black" id="datetime" presentation="time" displayFormat="h:mm" locale="en-US"></ion-datetime> -->

<ion-content>
  <div style="padding-top:5%">
    <ion-text style="font-size:36px; text-align: center; color: #ffffff">
      <p>
        {{ title }}
      </p>
    </ion-text>
  </div>

  <div>
    <ion-text style="font-size:20px; color: #ffffff">
      <p style="padding-left:5%; padding-right:5%">
        {{ message }}
      </p>
    </ion-text>
  </div>

  <br>

  <ion-text class="inner-text">Monday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <br>

  <ion-text class="inner-text">Tuesday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <br>

  <ion-text class="inner-text">Wednesday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <br>

  <ion-text class="inner-text">Thursday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <br>

  <ion-text class="inner-text">Friday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <br>

  <ion-text class="inner-text">Saturday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <br>

  <ion-text class="inner-text">Sunday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime style="color: black" id="datetime" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/pages/Sign_Up/sign-up">Back</ion-button>
      </ion-col>
      
      <ion-col> </ion-col>
      
      <ion-col>
        <ion-button expand="block" routerLink="/pages/Connect/connect">Next</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>