<ion-content>
  <br>
  <div style="padding-top:5%">
    <ion-text style="font-size:36px; text-align: center; color: #ffffff">
      <p>
        Change your sleep availability
      </p>
    </ion-text>
  </div>

  <br>

  <ion-text class="inner-text">Monday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="mondayStart"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="mondayStart" style="color: black" id="mondayStart" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="mondayEnd"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="mondayEnd" style="color: black" id="mondayEnd" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <br>

  <ion-text class="inner-text">Tuesday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="tuesdayStart"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="tuesdayStart" style="color: black" id="tuesdayStart" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="tuesdayEnd"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="tuesdayEnd" style="color: black" id="tuesdayEnd" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <br>

  <ion-text class="inner-text">Wednesday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="wednesdayStart"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="wednesdayStart" style="color: black" id="wednesdayStart" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="wednesdayEnd"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="wednesdayEnd" style="color: black" id="wednesdayEnd" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <br>

  <ion-text class="inner-text">Thursday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="thursdayStart"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="thursdayStart" style="color: black" id="thursdayStart" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="thursdayEnd"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="thursdayEnd" style="color: black" id="thursdayEnd" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <br>

  <ion-text class="inner-text">Friday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="fridayStart"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="fridayStart" style="color: black" id="fridayStart" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="fridayEnd"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="fridayEnd" style="color: black" id="fridayEnd" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <br>

  <ion-text class="inner-text">Saturday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="saturdayStart"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="saturdayStart" style="color: black" id="saturdayStart" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="saturdayEnd"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="saturdayEnd" style="color: black" id="saturdayEnd" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  <br>

  <ion-text class="inner-text">Sunday</ion-text>
  <div>
    <ion-grid>
      <ion-row>

          <ion-col>
            <ion-datetime-button datetime="sundayStart"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="sundayStart" style="color: black" id="sundayStart" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>

          </ion-col>

          <ion-col style="text-align: center; font-weight: bold; color: black">__</ion-col>
          
          <ion-col>
            <ion-datetime-button datetime="sundayEnd"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="sundayEnd" style="color: black" id="sundayEnd" presentation="time"></ion-datetime>
              </ng-template>
            </ion-modal>
            <br>
          </ion-col>

          <ion-col> </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>


<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/pages/Settings/settings">Cancel</ion-button>

      </ion-col>
      
      <ion-col> </ion-col>
      
      <ion-col>

        <ion-button expand="block" routerLink="/pages/Settings/settings">Apply</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>