<ion-content>

  Monday
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

  <br>
  Tuesday
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

  <br>
  Wednesday
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

  <br>
  Thursday
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

  <br>
  Friday
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

  <br>
  Saturday
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

  <br>
  Sunday
  <ion-card>
    <div>

      <ion-grid>
        <ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="p.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-col> </ion-col>
          <ion-row>
            <ion-col>
              <ion-input placeholder="Ex. 12:00"></ion-input>
            </ion-col>
            <ion-col>
              <ion-select placeholder="a.m.">
                <ion-select-option value="am">a.m.</ion-select-option>
                <ion-select-option value="pm">p.m.</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>

    </div>
  </ion-card>

</ion-content>

<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/pages/Settings/settings">Cancel</ion-button>

      </ion-col>
      
      <ion-col> </ion-col>
      
      <ion-col>

        <ion-button expand="block" routerLink="/pages/Settings/settings">Apply</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>