<!-- Contains code to name our page "Sleep Stats" and also provide the hamburger button to access the side menu -->
<ion-header>
  <ion-toolbar className="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size:28px">Sleep Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="padding-top: 3%">
    <ion-card>

      <ion-card-header>
        <ion-card-title style="font-size:25px; font-weight: bold">Sleep Score</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-text style="font-size: 25px; font-weight: bold; color: black">{{sleep_score}}</ion-text>
        <!-- {{date}} -->
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime style="color: black;" id="datetime" presentation="date" locale="en-US" [(ngModel)]="selectedDateString" [value]=currentDateString2 [min]="prevDateString2" [max]="currentDateString2" (ionChange)="changeSelectedDate()"></ion-datetime>
          </ng-template>
        </ion-modal>
        <br>
        
      </ion-card-content>

    </ion-card>
  </div>

  <div style="padding-top: 1%;">
    <ion-card>

      <ion-card-header>
        <ion-card-title style="font-size:25px; font-weight: bold">Sleep Recommendation</ion-card-title>
      </ion-card-header>
  
      <ion-card-content style="font-size:20px">
        {{sleep_reccomendation_text}}
      </ion-card-content>
  
    </ion-card>
  </div>

  <div style="padding-top: 1%;">
    <ion-card>

      <ion-card-header>
        <ion-card-title style="font-size:25px; font-weight: bold">
          Sleep Metrics
        </ion-card-title>
      </ion-card-header>
  
      <!-- <ion-card-content>
        <ion-text style="font-size: 20px">{{dateObj}}</ion-text>
      </ion-card-content> -->

      <ion-card-content style="text-align: left">
        <ion-text style="font-size: 20px; font-weight: bold">Sleep Duration:</ion-text>
        <br>
        <ion-text style="font-size: 17px;">{{sleep_duration}}</ion-text>
        <br>
        <br>
        <ion-text style="font-size: 20px; font-weight: bold;">Sleep Stage Ratio:</ion-text>
        <br>
        <ion-text style="font-size: 17px">Light: {{light_sleep_ratio}}%</ion-text>
        <br>
        <ion-text style="font-size: 17px">Deep: {{deep_sleep_ratio}}%</ion-text>
        <br>
        <ion-text style="font-size: 17px">REM: {{rem_sleep_ratio}}%</ion-text>
      </ion-card-content>

    </ion-card>
  </div>

  <ion-button id="open-modal" expand="block" routerLink="/pages/Caffiene_Tracker/caffiene-tracker">Caffiene Intake Tracker</ion-button>
  
</ion-content>










