.header {
    background-color: blue;
}

.body {
    background-color: blue;
}

ion-card {
    justify-content: center;
    align-items: center;
    flex-flow: column-reverse;
    text-align: center;
}

.sleep-metrics-data {
    text-align: left;
    justify-content: left;
    align-items: left;
    flex-flow: column-reverse;
}
