<ion-header>

  <ion-toolbar className="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sleep Stats</ion-title>
  </ion-toolbar>
  
</ion-header>

<div style="height: 100; flex-flow: column-reverse; display: flex; align-items: top; justify-content: center;">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sleep Score:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{date}}
      <br>
      {{sleep_score}}
    </ion-card-content>
  </ion-card>
</div>

<div style="height: 100; flex-flow: column-reverse; display: flex; align-items: top; justify-content: center;">
  <ion-card>

    <ion-card-title>Sleep Reccomendation:</ion-card-title>
    <ion-card-content>
      {{sleep_reccomendation_text}}
    </ion-card-content>
  </ion-card>
</div>

<div style="height: 100; flex-flow: column-reverse; display: flex; align-items: top; justify-content: center;">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sleep Metrics:</ion-card-title>
    </ion-card-header>

    <ion-card-content className="sleep-metrics-data">
      {{date}}
      <br>
      Sleep Duration:
      <br>
      {{sleep_duration}}
      <br>
      Sleep Stage Ratio:
      <br>
      Light: {{light_sleep_ratio}}%
      <br>
      Deep: {{deep_sleep_ratio}}%
      <br>
      REM: {{rem_sleep_ratio}}%
    </ion-card-content>
  </ion-card>
</div>

<!-- <ion-content className="body">
  test
</ion-content> -->
